:root {
  --bg-color-afazer: #E63946;
  --bg-color-execucao: #1D3557;
  --bg-color-revisao: #457B9D;
  --bg-color-finalizacao: #77ABBD;
  --font-weight-ligth: 300;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --btn-add-color: #1D3557;
  --btn-filtro-color: #457B9D;
}

@media screen and (min-width: 1240px) {

  .header-top {
    display: flex;
    flex-direction: row;
    width: auto;
  }

  .header-top .titulo {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-left: 28px;
    width: 100%;
    white-space: nowrap;
  }

  .header-adicionar {
    display: flex;
    align-items: center;
    background-color: var(--btn-add-color);
    width: 224px;
    height: 40px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0 20px 0 20px;
  }

  .header-options button p {
    display: inline-block;
    font-weight: var(--font-weight-regular);
    font-size: 16px;
    color: white;
    padding-left: 8px;
  }

  /**************************** Fim CSS do Header *******************************/

  /****************************  CSS dos Cards Á FAZER **************************/
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(121, 108, 108, 0.5);
  }

  .highlight {
    background-color: #FD951F08;
  }

  .card,
  .dropzone {
    transition: 400ms;
  }

  .is-dragging {
    cursor: move;
    opacity: 0.3;
  }

  .over {
    background-color: #4137d111;
  }

  .dropzone {
    overflow-y: scroll;
    overflow-x: hidden;
    white-space: nowrap;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-top: 6px;
  }

  .card {
    display: block;
    transition: transform 0.3s;
  }

  .card:hover {
    transform: scale(1.02);
  }

  .main-cards-layout {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
  }

  .main-cards-status {
    padding-bottom: 12px;
    width: 288px;
    padding-right: 20px;
  }

  .status {
    margin: 0 22px 14px 22px;
    padding: 4px;
    width: 222px;
  }

  .main-cards-status .dropzone.afazer {
    border-left: 1px dashed var(--bg-color-afazer);
    border-right: 1px dashed var(--bg-color-afazer);
    border-bottom: none;
  }

  .main-cards-status .dropzone.execucao {
    border-left: 1px dashed var(--bg-color-execucao);
    border-right: 1px dashed var(--bg-color-execucao);
    border-bottom: none;
  }

  .main-cards-status .dropzone.revisao {
    border-left: 1px dashed var(--bg-color-revisao);
    border-right: 1px dashed var(--bg-color-revisao);
    border-bottom: none;
  }

  .main-cards-status .dropzone.finalizacao {
    border-left: 1px dashed var(--bg-color-finalizacao);
    border-right: 1px dashed var(--bg-color-finalizacao);
    border-bottom: none;
  }
}