*{
  margin: 0px;
  padding: 0px;
  box-shadow: none;
  font-family: 'Jost', sans-serif;
  text-decoration: none;
  border: none;
  list-style: none;
}

:root{
  --btn-add-color: #1D3557;
  --btn-filtro-color: #457B9D;
}

body {
  background-image: url("../img/background/background-img.jpg");
  background-repeat: no-repeat;  
  background-position: center;
  background-size: cover;
}
/************************* Ínicio CSS do Header *******************************/
header{
  display: flex;
  justify-content: center;
}

.header-top{
  display: flex;
  flex-direction: column;
  width: 390px;
}

.header-top .titulo{
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 28px;
}

.titulo h1 {
  padding-left: 8px;
}

.titulo .titulo-img-lapis{
  background-color: transparent;
  cursor: pointer;
}

.header-options {
  margin: 1em 0em 1em 0em;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header-options button p {
  display: none;
}

.header-adicionar{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--btn-add-color);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;
}

/* .header-filtrar{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--btn-filtro-color);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;
} */

.header-options input{
  width: 186px;
  height: 40px;
  border-radius: 8px 0 0 8px;
  padding-left: 8px;
  box-shadow: 0 0 0 0 ;
  outline: 0;
}

.header-options-filtrar{
  display: flex;
}

.options-filtrar-img {
  display: flex;
  align-items: center;
  border-radius: 0 8px 8px 0;
  background-color: white;
  height: 40px;
  width: 25px;
  cursor: pointer;
}

.options-filtrar-img img{
  opacity: 0.5;
}

/* .header-options #buscarCard{
  background-image: url("../img/icons/buscar.png");
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: 4% 50%;
  cursor: pointer;
} */

/**************************** Fim CSS do Header *******************************/

/**************************** Inicio CSS dos Cards ****************************/
:root {
  --bg-color-afazer: #e63946;
  --bg-color-execucao: #1d3557;
  --bg-color-revisao: #457b9d;
  --bg-color-finalizacao: #77abbd;
  --font-weight-ligth: 300;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
}

.main-cards-layout{
  display: flex;
  flex-direction: column;
}

.main-cards-status .main-cards-titulo{
  text-align: center;
  border-radius: 0 0 16px 16px;
  background-color: var(--bg-color-afazer);
  color: white;
  font-weight: var(--font-weight-ligth); 
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 2px;
  font-size: 16px;
}

.main-cards-status .main-cards-titulo.execucao{
  background-color: var(--bg-color-execucao);
}
.main-cards-status .main-cards-titulo.revisao{
  background-color: var(--bg-color-revisao);
}
.main-cards-status .main-cards-titulo.finalizacao{
  background-color: var(--bg-color-finalizacao);
}

.card{
  display: flex;
  text-align: left;
  align-items: center;
}

.main-cards-status {
  padding-bottom: 12px;
  width: 288px;
  width: auto;
}

.main-cards-status .dropzone.afazer {
  border-bottom: 1px dashed var(--bg-color-afazer);
}
.main-cards-status .dropzone.execucao {
  border-bottom: 1px dashed var(--bg-color-execucao);
}
.main-cards-status .dropzone.revisao {
  border-bottom: 1px dashed var(--bg-color-revisao);
}
.main-cards-status .dropzone.finalizacao {
  border-bottom: 1px dashed var(--bg-color-finalizacao);
}

.dropzone {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 120px;
} 

.card{
  display: inline-block;
}


.content p {
  font-weight: var(--font-weight-ligth);
  font-size: 12px;
}

.content button{
  color: white;
  width: 40px;
  border-radius: 10px;
  font-weight: var(--font-weight-ligth);
  font-size: 10px;
  cursor: pointer;
}

.btn {
  background: transparent;
  cursor: pointer;  
}

.content.afazer button{
  background-color: var(--bg-color-afazer);
}
.content.execucao button{
  background-color: var(--bg-color-execucao);
}
.content.revisao button{
  background-color: var(--bg-color-revisao);
}
.content.finalizacao button{
  background-color: var(--bg-color-finalizacao);
}

.main-cards-btn{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  background: transparent;
}

.status {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(241, 250, 238, 0.1) 100%);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  margin: 0 26px 15px 0;
  padding: 4px;
  width: 225px;
  display: grid;
  grid-template-columns: 190px 30px ;
}

.status.red {
  border: 1px solid rgb(230, 57, 70);
  border-bottom: 8px solid rgb(230, 57, 70);
}
.status.blue {
  border: 1px solid rgb(29, 53, 87);
  border-bottom: 8px solid rgb(29, 53, 87);
}
.status.darkblue {
  border: 1px solid rgb(69, 123, 157);
  border-bottom: 8px solid rgb(69, 123, 157);
}
.status.lightblue {
  border: 1px solid rgb(119, 171, 189);
  border-bottom: 8px solid rgb(119, 171, 189);
}

.legend {
  width: 50px;
  height: 8px;
  background-color: rgb(255, 0, 0);
  border-radius: 4px;
  margin-left: 20px;
}

.red {
  background-color: rgba(230, 57, 71, 0.01);
}

.blue {
  background-color: rgba(29, 53, 87, 0.01);
}

.darkblue {
  background-color: rgba(69, 123, 157, 0.01);
}

.lightblue {
  background-color: rgba(119, 171, 189, 0.01);
}

.highlight {
  background-color: #00000017;
}

.card {
  transition: 10ms;
}

.is-dragging {
  cursor: move;
  opacity: 0.3;
}

.over {
  background-color: #dcdcdc;
}

/****************************  FIM DO CSS DO CARDS ****************************/

footer{
  color: white;
  text-align: center;
  background-color: #1D3557;
}